@using QLThuVienMVC.Models.UserModel
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> signInManager;
@inject UserManager<ApplicationUser> userManager

@if (signInManager.IsSignedIn(User))
{

	<li class="nav-item">
		<a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Log Out</a>
	</li>
	if (User.IsInRole("NhanVien"))
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-page="/NhanVien/XacNhanMuonSach">Borrow Request</a>
		</li>
	}
}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Log In</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
		</li>
	}


