@model QLThuVienMVC.Models.PhieuMuonSach

<div class="container mt-4">
    <h2>Quản lý phiếu mượn sách</h2>

    <!-- Gọi partial view mượn sách -->
    <partial name="_MuonSachPartial" model="Model" />
</div>
